@model FactoryFormModel

@{
    ViewBag.Title = "Add factory";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Location" class="form-label">Location</label>
                <input asp-for="Location" class="form-control" aria-required="true" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Add Factory" class="btn btn-warning mb-2 w-100 p-3 fw-bold" />
            </div>
        </form>
    </div>
</div>